// COLORS //

$brand-primary: #FFC700;
$brand-primary-light: #FFFBEF;
$brand-secondary: #1C1A7A;
$brand-secondary-light: #EFEFFF;
$brand-secondary-lighter: #F9F9FF;

$brand-info: #2658d7;
$brand-danger: #D72626;
$brand-success: #1ac229;
$brand-warning: #d79926;

$gray: #D2D1E4;
$gray-dark: #9291C0;

// PADDINGS //

$padding-sm: .7rem;
$padding-xs: .5rem;
$padding-base: 1rem;
$padding-md: 1.3rem;
$padding-lg: 1.5rem;
$padding-xl: 2rem;