@import "src/assets/css/global";

.draggable__card {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: -15px;
}

.empty {
    font-size: 12px;
    font-style: oblique;
    opacity: .6;
}

.collection__card {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    color: $brand-secondary;
    flex-grow: 1;
    overflow: hidden;

    &:hover {
        background-color: $brand-secondary-lighter;
    }

    .card__header {
        display: flex;
        gap: 10px;

        .card__title {
            overflow: hidden;
            flex-grow: 1;
        }

        .card__options {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            position: relative;
            right: -4px;

            .context__toggle {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: black;
                position: relative;

                &:after, &:before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: black;
                    z-index: 0;
                }

                &:after {
                    top: 7px;
                }

                &:before {
                    top: 14px;
                }
            }
        }
    }
}

.completed {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin-bottom: 3px;
    line-height: 1;
}